name: Use Shared CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: devopsprabin/workflows/.github/workflows/docker-build.yml@main
    with:
      github_token: ${{ inputs.github_token }}
      custom_tag_name: ${{ inputs.custom_tag_name }}
      image_name: ${{ inputs.image_name }}
      subdirectory: ${{ inputs.subdirectory }}
      dockerfile_name: ${{ inputs.dockerfile_name }}
      build_args: ${{ inputs.build_args }}

  deploy:
    needs: build
    uses: devopsprabin/workflows/.github/workflows/ssh-deploy.yml@main
    with:
      ssh_enable: ${{ inputs.ssh_enable }}
      ssh_host: ${{ inputs.ssh_host }}
      ssh_user: ${{ inputs.ssh_user }}
      ssh_port: ${{ inputs.ssh_port }}
      ssh_private_key: ${{ inputs.ssh_private_key }}
      deploy_folder_path: ${{ inputs.deploy_folder_path }}
      deploy_command: ${{ inputs.deploy_command }}

  notify:
    needs: deploy
    uses: devopsprabin/workflows/.github/workflows/discord-notify.yml@main
    with:
      discord_webhook_id: ${{ inputs.discord_webhook_id }}
      discord_webhook_token: ${{ inputs.discord_webhook_token }}
      discord_enable: ${{ inputs.discord_enable }}
  