name: Reuse CI/CD Workflow

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

  workflow_dispatch:
jobs:
  trigger-ci:
    name: ${{ github.event.repository.name }}
    uses: devopsprabin/workflows/.github/workflows/deploy.yml@main
    with:
      github_actor: ${{ github.actor }}
      deploy_folder_path: ${{ vars.DEPLOY_FOLDER_PATH_DEV }}
      deploy_command: ${{ vars.DEPLOY_COMMAND_DEV }}
      # custom_tag_name: "dev"
      # image_name: "ghcr.io/${{ github.repository_owner }}/myapp:latest"
      # subdirectory: "app"
      # dockerfile_name: "Dockerfile"
      # build_args: |
      #   _ENV=production
      # ssh_enable: 'true'
      # discord_enable: "true"
    secrets:
      git_token: ${{ secrets.GITHUB_TOKEN }}
      ssh_host: ${{ secrets.SSH_HOST_DEV }}
      ssh_user: ${{ secrets.SSH_USER_DEV }}
      ssh_port: ${{ secrets.SSH_PORT_DEV }}
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_DEV }}
      discord_webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID_DEV }}
      discord_webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN_DEV }}
