name: Trigger CI/CD Workflow

on:
  push:
    branches:
      - main  # or any other branch you'd like to trigger the workflow from

jobs:
  trigger-workflow:
    uses: devopsprabin/workflows/cicd.yml@main
    with:
      github_token: ${{ secrets.GITHUB_TOKEN }}
      github_actor: ${{ github.actor }}
      custom_tag_name: 'latest'  # Example custom tag
      image_name: 'my-image-name'
      subdirectory: 'subfolder'  # Optional: if the Docker context is in a subdirectory
      dockerfile_name: 'Dockerfile'
      build_args: '_ENV=production'
      
      # Deploy args
      ssh_enable: 'true'
      ssh_host: ${{ secrets.SSH_HOST }}
      ssh_user: ${{ secrets.SSH_USER }}
      ssh_port: ${{ secrets.SSH_PORT }}
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
      deploy_folder_path: '/path/to/deploy'
      deploy_command: './deploy.sh'

      # Notify args
      discord_webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
      discord_webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
      discord_enable: 'true'
