name: Reuse CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  trigger-ci:
    uses: devopsprabin/workflows/.github/workflows/cicd.yml@main
    with:
      github_actor: ${{ github.actor }}
      custom_tag_name: "v1.0.0"
      image_name: "ghcr.io/${{ github.repository_owner }}/myapp:latest"
      subdirectory: "app"
      dockerfile_name: "Dockerfile"
      build_args: |
        _ENV=production

      # deploy
      ssh_enable: "true"
      ssh_host: "your.server.com"
      ssh_user: "ubuntu"
      ssh_port: "22"
      deploy_folder_path: "/var/www/app"
      deploy_command: "deploy.sh"

      # notify
      discord_enable: "true"
    secrets:
      git_token: ${{ secrets.GITHUB_TOKEN }}
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
      discord_webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
      discord_webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
